* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}

body {
    font-family: sans-serif;
}

header {
    text-align: center;
    background-color: cornflowerblue;
    color: white;
    margin: 0;
    padding: 1px 0;
}

main {
    display: flex;
    flex-direction: row;
}

.searchCol {
    /* background-color: skyblue; */
    /* height: 1000px; */
    width: 25%;
    flex-direction: column;
}

#clear {
    vertical-align: super;
    font-size: .75em;
    font-weight: bold;
    font-style: italic;
    margin-left: 5px;
    cursor: pointer;
    display: inline;
}


.resultCol {
    height: 100%;
    width: 75%;
    flex-direction: column;
    margin: 10px;
    visibility: hidden;
}

.currentWeatherData {
    border: 1px solid black;
    height: 25%;
    /* margin: 10px; */
}

.currentWeatherData h2 {
    margin: 8px 5px;
    display: inline-block;
}

.currentWeatherData .conditionIcon {
    position: absolute;
}

.currentWeatherData h3 {
    margin: 20px 5px;
}

.uvIndex {
    font-family: monospace;
    color: white;
}

.fiveDayForecast {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.forecastBox {
    width: 175px;
    height: 200px;
    color: white;
    background-color: cornflowerblue;
    margin-bottom: 10px;
    /* display: inline-flex; */
    /* justify-content: space-around; */
}

.forecastBox h3 {
    font-size: 1.5em;
    margin: 7px 5px;
}

.conditionIcon {
    height: 60px;
    width: 60px;
}

.forecastBox p {
    color: inherit;
    margin: 5px;
}

input {
    font-size: 1em;
    padding: 5px;
    /* border: 1px solid black; */
    margin: 10px 3px;
    width: 95%;
}

button {
    font-size: 1em;
    padding: 5px;
    margin: 0 3px;
    width: 95%;
    border: hidden;
    border-radius: 3px;
    background-color: cornflowerblue;
    color: white;
}

#searchBtn:active, .selectedBtn {
    background-color: rgba(100, 148, 237, 0.575);
    
}